[submodule "Sources/BrowserServicesKit/Resources/duckduckgo-autofill"]
	path = Sources/BrowserServicesKit/Resources/duckduckgo-autofill
	url = https://github.com/duckduckgo/duckduckgo-autofill
[submodule "Sources/BrowserServicesKit/Resources/content-scope-scripts"]
	path = Sources/BrowserServicesKit/Resources/content-scope-scripts
	url = https://github.com/duckduckgo/content-scope-scripts
[submodule "Tests/BrowserServicesKitTests/Resources/privacy-reference-tests"]
	path = Tests/BrowserServicesKitTests/Resources/privacy-reference-tests
	url = https://github.com/duckduckgo/privacy-reference-tests
[submodule "Sources/DDGSyncAuth/libs/libsodium"]
	path = Sources/DDGSyncAuth/libs/libsodium
	url = https://github.com/jedisct1/libsodium
	branch = stable
[submodule "Sources/libsodium"]
	path = Sources/libsodium
	url = https://github.com/jedisct1/libsodium
	branch = stable
[submodule "Sources/argon2"]
	path = Sources/argon2
	url = https://github.com/P-H-C/phc-winner-argon2
