name: Unit tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  swiftlint:

    name: Run SwiftLint

    if: github.event_name == 'pull_request'

    runs-on: ubuntu-latest

    steps:
    - name: Check out the code
      uses: actions/checkout@v3
    - name: Fetch PR's target branch
      run: git fetch --no-tags --prune --depth=1 origin ${{ github.base_ref }}
    - name: Run SwiftLint on files changed in the PR
      uses: norio-nomura/action-swiftlint@3.2.1
      with:
        args: --force-exclude
      env:
        DIFF_BASE: ${{ github.base_ref }}

  unit-tests:

    name: Run unit tests

    runs-on: macos-latest

    steps:

    - name: Check out the code
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Run tests
      # BSK does not support running tests in parallel, but the flag is required
      # to make XUnit output work. Making it parallel with 1 worker then.
      # https://stackoverflow.com/a/70040836
      run: |
        swift test --parallel --num-workers=1 \
          --xunit-output tests.xml

    - name: Publish Unit Tests Report
      uses: mikepenz/action-junit-report@v3
      if: always()
      with:
        check_name: Test Report
        report_paths: tests.xml
